/*start main rules*/

body
{
height: 4000px;
}

.container
{
    width: 1170px;
    margin: auto;  
}

.clearfix

{
    clear: both;
}

/*end main rules*/


/*start header*/

.header .slider
{
   background-image: url('../top/intro.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 675px
}


.header .slider .intro
{
   padding-top: 180px;
   text-align: center;
   color: #FFF;
}

.header .slider .intro h2
{
   margin: 0 auto;
   font-size: 50px;
   width: 600px;
   border-top: 4px solid #FFF;
   border-bottom: 4px solid #FFF;
   padding: 5px 0 ;
   color: #FFF;

}

.header .slider .intro button
{
   background: none;
   margin-top: 30px;
   font-size: 20px;
   border: 2px solid #FFF;
   font-weight: bold;
   padding: 10px 30px;
   color: #FFF;
   
}

.header .navbar
{
    background-color: #252f31;
    color: #FFF;
    overflow: hidden;
}

.header .navbar h2
{
 color: #FFF;
 
}

.header .navbar span
{
 color: #30B576;
}

.header .navbar ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header .navbar ul li
{
    
    float: left;
    padding: 10px;
    text-transform: ;
}

.header .navbar ul li a
{
   color: #FFF;
   text-decoration: none;
   
}

.header .navbar ul li.active a,
.header .navbar ul li a:hover
{
   color: #30B576;
}


/*end header*/



/*start featuers*/

.featuers
{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 55px;
    
}

.featuers .feat
{

    width: 50%;
    height: 150px; 

}

.featuers .feat h2
{
    color: #555;
}
/*end featuers*/

/*start about me*/

.about-me
{
    background-color: #F2F2F2;
    overflow: hidden;
    
}

.about-me .image
{
    width: 40%;
    
}

.about-me .image img
{
width: 100%
}

.about-me .info
{

    width: 60%;
 
}

.about-me .info h2
{
   margin: 40px 0 20px 40px;
   color: #555;
}

.about-me .info > p
{
   margin: 0 0 10px 40px;

}

.about-me .info p:last-of-type
{
   margin-top: 30px;
}

.about-me .info .hobbies
{
   overflow: hidden;
   margin: 20px 0 0 40px;
}

.about-me .info .hobbies .content
{
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}


.about-me .info .hobbies .content .icon
{
   width: 12%;
   margin-right: 5%;
}

.about-me .info .hobbies .content .icon img
{
   max-width: 100%;
   margin: 40px 10px 0 0 ;
}

.about-me .info .hobbies .content .text
{
   width: 83%;
}

.about-me .info .hobbies .content .text p
{
 margin-top: 0;
}

.about-me .info .hobbies .content .text h3
{
   color: #555;
   margin-bottom: 5px;
}

/*end about me*/


/* start my skills */

.my-skills
{
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.my-skills .skills,
.my-skills .progress
{
    width: 50%;
}

.my-skills .skills h2
{
   margin: 40px 0 20px 40px;
   color: #555;
}

.my-skills .skills  p
{
   margin: 0 0 10px 40px;
}

.my-skills .skills p:last-of-type
{
   margin-top: 25px;
}

.my-skills .skills button
{

 margin-top: 20px;
 margin-left: 40px;
}

.my-skills .progress .technique
{
 margin-left: 50px;
}

.my-skills .progress .technique h3
{
 color: #555
}


.my-skills .progress .technique div
{
 background-color: #F2F2F2;
 height: 25px;
}

.my-skills .progress .technique div span
{
 background-color: #2DCC70;
 height: 25px;
 display: block;
 line-height: 25px;
 text-align: right;
 color: #FFF;
 font-weight: bold;
}





/* end my skills */


/* start resume */


.resume
{
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;  
}

.resume h2
{

 font-weight: bold;
 color: #666;
}

.resume p
{
 padding: 0 40px;
}

.resume button
{
 margin-top: 15px;
}


/* end resume */


/* start my education */

.my-education
{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-education  hr
{
 margin: 20px 0 ;
 background-color: #999;
 height: 1px;
 border: 0;
}

.my-education .main
{
 width: 50%;
 margin-right: 5%;
}


.my-education .main h2
{
   margin: 40px 0 20px 40px;
   color: #555;
}

.my-education .main  p
{
   margin: 0 0 10px 40px;
}

.my-education.main p:last-of-type
{
   margin-top: 25px;
}



.my-education .exp
{
 width: 45%;
}

.my-education .exp h2
{
   margin: 40px 0 20px 40px;
   color: #555;
}

.my-education .exp h3
{
 margin-top: 40px;
 margin-bottom: 10px;
}

.my-education .exp span
{
 display: block;
 margin-bottom: 10px;
}

.my-education .exp .a 
{
 color: #999;
}

.my-education .exp .b
{
 background-color: #2DCC70;
 color: #FFF;
 display: inline-block;
 padding:4px 10px;
 font-weight: bold;
 
}

.my-education  hr
{
 margin: 20px 0 ;
 background-color: #999;
 height: 1px;
 border: 0;
}


/* end my education */



/* start portfolio */

.portfolio
{
   
   padding-top: 50px;
   padding-bottom: 70px;
   
}

.portfolio h2 
{
   text-transform: uppercase;
   text-align: center;
   color: #777;
}

.portfolio p
{
   text-align: center;
   margin-bottom: 30px;
}

.portfolio .our-work div
{
   display:  inline;
   margin: 10px;
}

.portfolio .our-work div img
{
   margin-bottom: 40px;
   padding: 3px;
   background-color: #FFF;
   border: 1px solid #CCC;
   box-shadow: 10px 10px 12px #CCC;
   
}

/* end portfolio*/

/* start contact me*/
.contact-me

{
   background-color: #252F31;
   overflow: hidden;
   padding-top: 50px;
   padding-bottom: 70px;
}

  .contact-me .info
  {
     width: 50%;
     margin-right: 5%;
   
  }
.contact-me h2
{
   color: #FFF;
   text-transform: uppercase;
   margin-left: 40px;
}

.contact-me p
{
   color: #6A6E71;
   margin-left: 40px;
}

.contact-me p strong
{
 color: #D1D6DA;
}

  .contact-me .form
  {
   width: 45%;
  }
 
    .contact-me .form label
    {
     display: block;
     color: #D1D6DA;
     margin: 10px 0;  
    }
   
     .contact-me .form input[type="text"]
     {
      background-color: #4B5557;
      color: #FFF;
      padding: 10px;
      border: 0;
      width: 80%;
      margin-bottom: 10px;
     }
     
      .contact-me .form input[type="textarea"]
     {
      background-color: #4B5557;
      color: #FFF;
      padding: 10px;
      border: 0;
      width: 80%;
      margin-bottom: 10px;
      height: 300px;
     }
     
     .contact-me .form input[type="submit"]
     {
      display: block;
      background-color: #191E22;
      color: #FFF;
      padding: 10px 20px;
      border: 0;
      margin-top: 10px; 
     }
  
/* end contact me*/


/* start footer*/


.footer
{
   background-color: #191E22;
   color: #6A6E71;
   padding: 20px 0;
   text-align: center;
 
}

.footer ul
{
 list-style: none;
 padding-left: 0;
 margin: 10px 0 0 ;
}

.footer ul li
{
 display: inline-block;
}


 .footer .fa {
    padding: 10px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.footer .form
{
 float: left;
}

.footer a
{
   color: #FFF;
   text-decoration: none;  
}

.footer a:hover
{
   color: #30B576;
}

/* end footer*/

/* start my framwork*/

.my-button
{
 background: none;
 border: 3px solid #2DCC70;
 padding: 10px 30px ;
 color: #2DCC70;
}

.fl-left
{
 float: left;
}

p
{
   line-height: 1.7;
   color: #888;
}

h2
{
 color: #777;
}

/* end my framwork*/
